body {
  background: purple;
  margin: 0;
}

header {
  text-align: center;
  margin-top: 0;
}

header h2 {
  font-size: 3.5vw;
}

header h6 {
  font-size: 2vw;
}


section {
  border: 2px dotted blue;
  text-align: center;
  background: pink;
}

/* section h4 {
  font-size: 2.5vw;
  padding: .5vw;
  /* margin: 0 auto; */
  /* position: fixed;
  background: cyan;
  width: 100%;
} */

.fixed {
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  background: cyan;
  margin: -45px 0 0 0;
  padding: 0;
}

.fixed h4 {
  font-size: 2.5vw;
  /* padding: .5vw; */
  /* margin-top: 0; */
  /* position: fixed; */
  /* background: cyan; */
  /* width: 100%; */
  /* padding-top: 0; */
  margin: 0;
  padding: 0;
}

div {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5vw;
}

section img {
  width: 30%;
  height: 30%;
}

section article {
  color: cyan;
  background: black;
  font-family: jokerman;
  text-indent: 5%;
  font-size: 2.5vw;
  margin: 1vw;
  padding: 1vw;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
nav li {
  list-style-type: none;
  background: cyan;
  border: 1px solid black;
  padding: .5vw;
  border-radius: 1vw;
  font-size: 2vw;
}

button {
  font-size: 2vw;
  border-radius: 1vw;
  border: 0;
  background: cyan;
}

button:hover {
  background: red;
  font-size: 2.5vw;
  color: blue;
  font-family: fantasy;
}

button:focus {
  outline: none;
}

p {
  background: black;
  color: #fff;
  font-size: 2.2vw;
  font-family: helvetica;
  font-weight: 700;
  /* visibility: hidden; */
  display: none;
  padding: 1.5vw;
}



button:focus ~ p {
  /* visibility: visible; */
  display: block;
  font-size: 3vw;
}
