* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

h2::selection {
  /* in this case when we select it the css will be appleid. */
  background: brown;
  color: white;
  cursor: pointer;
  outline: white;
}

h2 {
  transition: tex-shadow 0.6s linear;
}

h2:hover {
  text-shadow: 5px 5px 5px black;
}

section, article {
  width: 200px;
  height: 200px;
  background: yellow;
  font-size: 0.7em;
}

section {
  background: yellow;
  position: relative;
  z-index: 10;
}

article {
  background: cyan;
  position: relative;
  z-index: 5;
}
