body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

 /* start working on navbar */
  nav {
    display: flex;
    justify-content: space-between;
    background: rgba(0,0,0,0.6);
    color: white;
    position: fixed;
    width: 100%;
    height: 4.5vw;
    align-items: center;
    z-index: 1;

    h3 {
      padding: 1.5vw;

      &:hover {
        cursor: pointer;
        background: rgba(0,0,0,0.7);
      }
    }

    ul {
      display: flex;
      justify-content: space-around;

      li {
        list-style-type: none;
        padding: 1.5vw;

        &:hover {
          cursor: pointer;
          background: rgba(0,0,0,0.6);
        }

        &:nth-of-type(5) {
          padding-right: 2.5vw;
          position: relative;
          border: 1px solid white;
          span {
            position: absolute;
            top: 0.1vw;
            right: .5vw;
            font-size: 2vw;
          }
        }

      }
    }
  }

  div.toggle {
    border: 1px solid blue;
    width: 10vw;
    position: absolute;
    z-index: 2;
    color: white;
    top: 4.5vw;
    left: 83.4vw;
    padding: .5vw 1vw;
    margin: 0;
    display: none;

    p {
      letter-spacing: .28vw;
      font-size: 1.2vw;
      margin: 0;
      padding: .25vw;
    }
  }
 /* finished navbar */


  /* main started */
 main.container {
   display: flex;
   // justify-content: center;
   // align-items: center;
   position: relative;
   // top: 4vw;
   // border: 1px solid black;
   // // overflow: hidden;
   //
   div.image {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // position: relative;
     width: 100%;
     height: 110%;
   //   border: 1px solid red;
     flex-shrink: 0;
   //   transition: transform 2s linear;
   //
     img {
       width: 100%;
       height: 100%;
     }
   //
     h5, p {
       position: absolute;
       color: white;
       background: grey;
     }

     h5 {
       font-size: 2vw;
       top: 80%;
     }

     p {
       font-size: 1.5vw;
       top: 100%;
       width: 50vw;
       text-align: center;
     }
   }

   div.dotContainer {
     display: flex;
     flex-direction: row;
     position: absolute;
     top: 92%;
     font-size: 3vw;
     z-index: 2;
   }
   //
   // div.arrows {
   //   font-size: 3.5vw;
   //   position: absolute;
   //   z-index: 2;
   //   display: flex;
   //   flex-direction: row;
   //   color: red;
   //   border: 1px solid yellow;
   //
   //   .leftArrow {
   //     position: absolute;
   //       left: -40vw;
   //   }
   //
   //   .rightArrow {
   //     position: absolute;
   //       right: -40vw;
   //   }
   //
   // }
 }


}
