body {
  margin: 0;
  box-sizing: border-box;
}

body nav {
  border: 1px solid black;
  display: flex;
  justify-content: flex-end;
}

body nav a {
  border: 1px solid black;
  display: block;
  text-decoration: none;
  padding: 2vw;
  color: red;
}

body nav a:first-of-type {
  margin-right: auto;
}

body nav a:nth-of-type(1) {
  margin-left: 2vw;
}

body nav a:nth-of-type(1) else {
  margin-right: 2vw;
}

body nav a:nth-of-type(2) {
  margin-left: 2vw;
}

body nav a:nth-of-type(2) else {
  margin-right: 2vw;
}

body nav a:nth-of-type(3) {
  margin-left: 2vw;
}

body nav a:nth-of-type(3) else {
  margin-right: 2vw;
}

body nav a:nth-of-type(4) {
  margin-left: 3vw;
}

body nav a:nth-of-type(4) else {
  margin-right: 3vw;
}

.font-size-1 {
  font-size: 0.5vw;
}

.font-size-2 {
  font-size: 1vw;
}

.font-size-3 {
  font-size: 1.5vw;
}

.font-size-4 {
  font-size: 2vw;
}

.font-size-5 {
  font-size: 2.5vw;
}

.font-size-6 {
  font-size: 3vw;
}

.font-size-7 {
  font-size: 3.5vw;
}

.font-size-8 {
  font-size: 4vw;
}

.font-size-9 {
  font-size: 4.5vw;
}

.font-size-10 {
  font-size: 5vw;
}
